tmp
sh
.vscode
node_modules/
package-lock.json
nacos_cache
.DS_Store
*.log
.idea
*.bin
*.out
*.pem
*.p12
dist
vendor
bin/

node_modules
# local env files
.env.local
.env.*.local
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?